<style>
    
    div.container {
    background-color: #e7e3ec;

}

body {
    background-color: #e7e3ec;


}
    h1._header_{
        background-color: #b5b1ba;
        text-align: center;
            border-bottom: 4px solid #363636;


    }
    div._title{
                    text-align: center;

    }
    div.r_1{
        
    background-color: #EEEEEE;
            text-align: center;
    }
    div.r_2{
        margin-top: 150px;
/*         border: 4px solid #56565A;*/
            border-radius: 8px;
        background-color: #c6bfc9;
    }
 
    
    div.a_2 {
    direction: rtl;
    text-align: justify;

   

}
    div.a_1{
            text-align: center;

    }
    
    img.img_1{
            max-width: 70%;
    max-height: 70%;
        margin-top: 50px;
    }
    div._links{
       text-align: center;

    }
.fa {
  padding: 8px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 15px 2px;
  border-radius: 50%;
}

    h1._bottom{
          background: #b5b1ba;
        margin-top: 190px;
        border-top:3px solid #363636;

    }



.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}
#borderimg { 
    border: 10px solid transparent;
    padding: 0px;
    
    border-image: url(https://pageborders.org/files/images/gray-chevron-border-preview.png) 20 stretch;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}
</style>